.overlay{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0rem;
  left: 0rem;
    background:rgba(255, 255, 255,0.8);
    
   
    display: flex;
    align-items: center;
    justify-content:center;
    
    
   
   
    
}

.LevelUpModalContainer{
  width: 25rem;
  height: 25rem;
  border-radius: 5px;
  box-shadow: 0  0rem 3px 0.1rem rgba(0,0,0,0.09) ;
  background:var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  

}


.LevelUpModalContainer header{
  margin-top: 3rem;
  font-size:8.75rem;
  text-align: center;
  background:url('/icons/levelup.svg') no-repeat center;
  background-size: contain;
  

  color: var(--blue-dark);
 
}


.LevelUpModalContainer button{
  width: 0.5rem;
  background: red;
  background:var(--white);
  border:none;
  font-size: 0rem;
  position:absolute;
  right: 2.5rem;
  top: 0.4rem;


}

.LevelUpModalContainer strong {
  margin-top: 1rem;
  font-size: 2.5rem;
  
  color:var(--title);

}


